{{!< guides}}

<h1>Cookie Recipes for Casuals</h1>
<p class="guide-text flavor-text">"The Dawning" event ends January 14th, 2020 so get baking!</p>
</li>

<h3>Basic Ingredients</h3>
<ul>
    <li>Chitin Powder: Hive </li>
    <li>Cabal Oil: Cabal </li>
    <li>Dark Ether Cane: Scorn </li>
    <li>Ether Cane: Fallen </li>
    <li>Taken Butter: Taken </li>
    <li>Vex Milk: Vex </li>
</ul>

<h3>Rare Kill Ingredients</h3>
<ul>
    <li>Bullet Spray: kills with automatic weapons</li>
    <li>Delicious Explosions: explosive kills ('nades, rockets)</li>
    <li>Electric Flavor: arc kills</li>
    <li>Flash of Inspiration: generate orbs</li>
    <li>Impossible Heat: solar kills</li>
    <li>Null Taste: void kills</li>
    <li>Personal Touch: melee kills</li>
    <li>Perfect Taste: precision kills</li>
    <li>Sharp Flavor: sword kills</li>
</ul>

<h3>2019 Recipes</h3>
<ul>
    <li>
        <h4>Fractal Rolls</h4>
        <p>Vex Milk + Pinch of Light > Brother Vance on Mercury</p>
    </li>
    <li>
        <h4>Thousand-Layer Cookie</h4>
        <p>Taken Butter + Delicious Explosion > Riven in Last Wish (look for an itty bitty snowglobe in the room you
            drop down in)</p>
    </li>
    <li>
        <h4>Lavender Ribbon Cookies</h4>
        <p>Vex Milk + Personal Touch > <strike>Saint-14 in the Tower Hangar</strike> He's not here yet, check back later
        </p>
    </li>
    <li>
        <h4>Fried Sha-Dough</h4>
        <p>Dark Ether Cane + Superb Texture > Calus's Statue in the Tribute Hall</p>
    </li>
    <li>
        <h4>Hot Crossfire Buns</h4>
        <p>Ether Cane + Balanced Flavors > Ada-1 in the Tower Annex</p>
    </li>
    <li>
        <h4>Ascendant Oatmeal Raisin Cookies</h4>
        <p>Chitin Powder + Finishing Touch > Eris Morn on the Moon</p>
    </li>
    <li>
        <h4>Hackberry Tart</h4>
        <p>Cabal Oil + Multifaceted Flavors > Benedict 99-40 in the Tower Annex</p>
    </li>

</ul>

<h3>2018 Recipes</h3>
<ul>
    <li>
        <h4>Gjallardoodles</h4>
        <p>Ether Cane + Delicious Explosion > Commander Zavala in the Tower Courtyard</p>
    </li>
    <li>
        <h4>Eliksni Birdseed</h4>
        <p>Ether Cane + Personal Touch > Hawthorne in the Tower Bazaar</p>
    </li>
    <li>
        <h4>Traveler Donut Holes</h4>
        <p>Cabal Oil + Flash of Inspiration > Ikora in the Tower Bazaar</p>
    </li>
    <li>
        <h4>Chocolate Ship Cookies</h4>
        <p>Cabal Oil + Null Taste > Amanda Holliday in the Tower Hangar</p>
    </li>
    <li>
        <h4>Telemetry Tapioca</h4>
        <p>Vex Milk + Bullet Spray > Banshee-44 in the Tower Courtyard</p>
    </li>
    <li>
        <h4>Vanilla Blades</h4>
        <p>Cabal Oil + Sharp Flavor > Lord Shaxx in the Tower Courtyard</p>
    </li>
    <li>
        <h4>Strange Cookies</h4>
        <p>Taken Butter + Electric Flavor > Xûr on (check the top of the page for his current location)</p>
    </li>
    <li>
        <h4>Gentleman’s Shortbread</h4>
        <p>Ether Cane + Perfect Taste > Devrim Kay in the EDZ</p>
    </li>
    <li>
        <h4>Alkane Dragee Cookies</h4>
        <p> Chitin Powder + Bullet Spray > Sloane on Titan</p>
    </li>
    <li>
        <h4>Infinite Forest Cake</h4>
        <p> Vex Milk + Impossible Heat > Failsafe on Nessus</p>
    </li>
    <li>
        <h4>Radiolarian Pudding</h4>
        <p>Vex Milk + Electric Flavor > Asher Mir on Io</p>
    </li>
    <li>
        <h4>Javelin Mooncake</h4>
        <p> Chitin Powder + Sharp Flavor > Ana Bray on Mars</p>
    </li>
    <li>
        <h4>Candy Dead Ghosts</h4>
        <p> Dark Ether Cane + Flash of Inspiration > The Spider in the Tangled Shore</p>
    </li>
    <li>
        <h4>Ill-Fortune Cookies</h4>
        <p>Dark Ether Cane + Impossible Heat > Petra Venj in the Dreaming City</p>
    </li>
    <li>
        <h4>Dark Chocolate Motes</h4>
        <p>Taken Butter + Null Taste > The Drifter in the Tower Annex</p>
    </li>
</ul>