<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105724869-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-105724869-1');
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Xûr's location, updated each Friday.">
  <meta name="keywords" content="xur,destiny,destinythegame,whereisxur,destiny 2,D2">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification" content="OP9sOkRfEg6toierrIw22AmnW6vFFOfpmxcoeUvAiQE" />

  <!-- Open Graph Tags -->
  <meta property="og:site_name" content="Where The Fuck is Xûr?">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://wherethefuckisxur.com/" />
  <meta property="og:image" content="https://wherethefuckisxur.com/images/logo.512.png" />
  <meta name="theme-color" content="#DDDDDD">
  <meta property="og:title" content="Where The Fuck is Xûr?" />
  <meta property="og:description" content="{{layoutdata.xur}}" />

  <title>Where The Fuck Is Xur</title>
  <link rel="icon" type="image/png" href="/images/xur32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/xur16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&effect=anaglyph" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900|Raleway:900" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">

  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="/index.js" defer></script>
</head>

<body>
  <div class="content">
    <header>
      <div class="top-header">
        <div class="logo-container"><a href="/"><img src="/images/wtfix.png"></a></div>
        <div class="xur-location">
          <h1 class="page-title box-title">{{layoutdata.xur}}</h1>
          {{#if layoutdata.xurtime}}
          <p>Xûr found in {{{layoutdata.xurtime}}} seconds</p>
          {{/if}}
          <h2 class="page-subtitle box-subtitle">{{{layoutdata.xurmsg}}}</h2>
          {{!-- <p class="last-updated">Updated Tuesday, 12/18</p> --}}
        </div>
        <div class="psa">
          <h2 class="line-header">Public Xûrvice Announcement</h2>
          <p>{{{layoutdata.psa}}}</p>
        </div>
      </div>
    </header>

    <div class="main-menu">
      <svg class="hamburger" onclick="showNav()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
      <div class="main-menu-links">
        <a href="/" class="home">Home</a>
        <a href="/data">Data</a>
        <a href="/bot">Bot</a>
        <a href="https://patreon.com/wtfix">Patreon</a>
      </div>
    </div>

    <div id="nav-menu-back" onclick="hideNav()">

    </div>

    <div id="nav-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/data">Data</a></li>
        <li><a href="/guides">Guides</a></li>
        <li><a href="/friends">Friends</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/accessibility">Accessibility</a></li>
        <li><a href="/settings">Settings</a></li>

      </ul>
    </div>

    <div class="container">
      {{{body}}}
    </div>

    <footer>
      <div class="footer-top">
        <nav>
          <ul class="footer-menu">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/contributors">Contributors</a></li>
          </ul>
        </nav>
        <p>CONTACT: <a href="https://discord.gg/VE4vz5z" target="_blank">Discord</a> | <a
            href="mailto:dork@wherethefuckisxur.com?Subject=Sup%20dawg" target="_top">Email</a></p>
      </div>
      <div class="footer-bottom">Not safe for ya mama since 2015.</div>
    </footer>
  </div>
</body>