<div class="grey-box wide">
    <h1 class="box-title">The Where The Fuck is Xûr Team needs your help!</h1>
    <p>Guardians,</p>
    <p>With many of the current planets in Destiny 2 heading into the Content Vault and new locations being
        released, the community once again finds itself in the exciting and uncertain position of not knowing where
        in the solar system Xûr will arrive each Friday. The team at <a href="https://wherethefuckisxur.com">Where
            The Fuck is Xûr</a>(WTFIX) is looking for enough volunteers to blanket the game and hunt down Xûr on
        each of the first three Fridays after Beyond Light releases. Our goal is to post <i>at least</i> one
        Guardian in each public patrol zone and social space. The Hunter who finds Xûr first each week will receive
        a Destiny 2 emblem code from the Bungie Store as a thank you from the WTFIX developer community!</p>
    <br>
    <p>Let’s discuss some details:</p>
    <p><b>What is WTFIX?</b></p>
    <blockquote>
        <p>We are an open source project created by volunteers from the Destiny community. Started in 2014, WTFIX is
            a not-for-profit team of Guardian-contributors who have produced one of the most used and most
            irreverent resources for the Destiny playerbase. We host weekly hunts for Xûr, where a small community
            of volunteers coordinate around the world to find that sneaky tentacle-faced gasbag and publish his
            location — usually in under 30 seconds! This information is published in our characteristic off-colour
            style on our website, as well as in a publicly-consumable application programming interface (API) that
            other developers, websites, bots, and communities can freely take advantage of to distribute Xûr’s
            location to their users — in a format similar to Bungie’s own API for Destiny. Our site also utilises
            the Bungie API to provide a one-stop resource for information on other vendors in the Destiny universe
            and certain weekly rituals.</p>
        <br>
        <p>WTFIX is made possible by the contributions of time, money, resources, and talent of a team of generous
            Guardians — none of whom receive compensation of any sort. We don’t have ads on our site, don’t charge
            for our service, don’t promote our own YouTube or Twitch channels, and don’t sell merch. (Although, by
            popular demand, we *may* soon offer WTFIX merch <i>at cost</i>!)</p>
    </blockquote>
    <br>
    <p><b>How will the Beyond Light Xûr Hunts be conducted and coordinated?</b></p>
    <blockquote>
        <p>For (<i>at least</i>) the first three weeks after the release of Beyond Light, we will manage a special
            version of our Xûr Hunt. (This is the thing we’re appealing for your help with!) Guardians who are
            interested, willing, and able to assist us with this crunch time need are first asked to join our
            Discord community—this is where the hunt is coordinated each week. We’ve created a special channel just
            for this purpose, <em>#beyond-ligh-xûr-hunt</em>. For now, hop into the channel, say hello, and announce
            your interest in helping!</p>
        <br>
        <p>Once Beyond Light releases, we'll deploy an application that will allow participants to "sign up” for a
            public patrol zone or social space that you will commit to scouring for Xûr at the next reset. (This
            application won't be deployed until Beyond Light is released and we are 100% sure of the name, number,
            and location of all potential zones where Xûr may appear.)</p>
        <p> </p>
        <p>Each Friday, we ask that fifteen minutes before daily reset, all Guardians volunteering that week enter
            the Discord channel, log into Destiny 2, and fly to the zone they’re covering. Once reset time passes
            (12:00pm EST, 8:00am PST, 17:00 GMT, 18:00 CET, etc.), players should begin searching their zone for
            Xûr. When Xûr is found, the first player to say the name of the planet and zone he’s appeared in and
            post a screenshot of Xûr in his location for that week will be our “Xûr Hunter of the Week” and receive
            an emblem code. (We need a screenshot for a few reasons; most importantly, our site and API feature a
            small map of Xûr’s location within the zone and we’ll be creating these on-the-fly for the first few
            weeks. Additionally, we want to ensure that our Xûr Hunters are actually in the zone themselves and have
            eyes on tentacle-face — which is to say, they are not taking the word of some random stranger on the
            internet who may be incorrect, uncertain themselves, or simply trolling.)</p>
        <p> </p>
        <p>We realise that Guardians may not be available at reset every week, so each week, the sign-up application
            will reset and volunteers *may* sign up to cover a new zone the following week. Additionally, we are
            looking to have more than one player in each zone, to both serve as a redundancy and to create a little
            friendly competition in the community. So, don’t feel bad if you can’t help out all three weeks. If you
            can only make one or two weeks, come join us anyway! The more, the merrier!</p>
    </blockquote>
    <br>
    <p><b>Okay, okay… You hooked me! How to do I volunteer?</b></p>
    <blockquote>
        <p>If you would like to help us find Xûr over one or more of the next three weeks (and beyond that, should
            you so desire!), join our Discord, <a href="https://discord.gg/Ut4qTZp">at this link!</a></p>
    </blockquote>
    <br>
    <p>Thank you for taking the time to read our appeal! If you have any questions, suggestions, or feedback, please
        feel free to comment below, send me a direct message, contact me on Discord (@soren42#1701), tweet at me on
        Twitter (<a href="https://twitter.com/soren42">@soren42</a>), reach me on HF radio, or send me a carrier
        pigeon. We love this community. If it wasn’t for users like you, WTFIX wouldn’t exist. Thanks, in advance,
        for helping us reach into our sixth year of operation. We’ll see you on Europa!</p>
    <br>
    <p>Søren</p>
    <p>Xûr Hunt Coordinator</p>
    <p><a href="http://wherethefuckisxur.com">wherethefuckisxur.com</a></p>
</div>