<h1 class="page-title">Official Discord Bot</h1>

<p>Want a handy bot in your Discord server that will post Xur's current location, with our Extremely Helpful™ Xur maps
    included for <em>free</em>? Now, you can add the official WTFIX Discord bot to your server, and get Xur's location
    via the built in "wtfix" command, or by setting an automatic update channel and having the bot post xur's location
    automatically the moment we find him.</p>

<h2 class="line-header">Before you <s>buy</s> add</h2>

<p>Just a heads up, this will be the first discord bot I've made added to more than 10 Discord servers at once, so I'm more than a little paranoid that it's going to immediately break.  If you could, I would very much appreciate anyone who uses this bot to either follow me on <a href="https://twitter.com/NotDisliked">twitter</a> for updates on the bot as I change/improve/fix things, or at least join our <a href="https://discord.gg/VE4vz5z">Discord</a>, and either way send a tweet/ping to @NotDisliked on either platform if things are broken.  kthxheresthelinkbye.</p>

<a class="hotline-number" href="https://discordapp.com/oauth2/authorize?client_id=583853217062846484&scope=bot&permissions=18432">Click me to add the Official WTFIX Discord Bot</a>

<h2 class="line-header">How the fuck do I use this thing</h2>

<p>It's real simple, there are three commands (the default prefix is !, but that can be changed with the prefix command).</p>
<ul>
    <li>!wtfix: Post the current Xur location (or lack-there-of) with included Xur map!</li>
    <li>!setautochan (channelname): Change or set the auto post channel, the specified channel in the command will be where the bot posts the weekly location updates.</li>
    <li>!disableautochan: You know that channel that I talked about literally right above this line?  This command will make the bot forget it existed, so the auto-posts go away.</li>
</ul>