<h1 class="page-title">Contributors</h1>

<br />
<br />

{{!-- <h2 class="line-header">The Big Ones</h2>
<p>Everyone in this section are core to making the site a reality. They've gone the extra mile in donations, and we
    couldn't be more grateful. Where The Fuck Is Xur wouldn't be what it is without the help of them, and the help of everyone kind enough to donate.</p>
<ul>
    <li>
        <h3>Epic Duderino</h3>
        <p><em>CATCHPHRASE!</em></p>
    </li>
    <li>
        <p>Truly Valuable Donator</p>
    </li>
</ul> --}}

<h2 class="line-header">The Volunteers</h2>
<p>Without our core volunteer team, the Xur Hunters, we would never be able to find Xur and quickly and accurately as we
    do now. And of course we have to mention all the people who have helped the server in some technical sense, from
    helping out to the code to just being a "guy who knows stuff" in the Discord. Without any of these volunteers, we
    wouldn't be where we are today.</p>

<h2 class="line-header">The Dynamic Duo</h2>
<p>At its core, WTFIX is an effort from two guys.</p>
<ul>
    <li>
        NotDisliked, a Computer Science student who gets off on staring at hundreds of lines of code and spending hours
        trying to find the one semicolon he left out.
    </li>
    <li>
        Dorkthrone, who's been running the site since the Destiny 1 days, and loves to come up with wacky wild high concept
        features and text blurbs to add to the site unrestricted.
    </li>
</ul>
<p>We make this site in our free time, and it's very much a passion project for us. If you appreciate what we do, and
    would like to give back somehow, we have our <a href="https://patreon.com/wtfix">Patreon</a> where you can support
    us directly. Otherwise, just keep using the site. That's enough for us. 💖</p>