<h1 class="page-title">FAQ and Other Bullshit</h1>

<div class="faq-list">

    <h2 class="line-header">Who the fuck is Xûr?</h2>
    <p>Some tentacle face who got hired by the people who influence all of creation to rain exotics down on us like it's
        Christmas every Friday.</p>

    <h2 class="line-header">Why the fuck is Xûr?</h2>
    <p>Well little Timmy, when a mommy Xûr and a daddy Xûr love each other very very much...</p>

    <h2 class="line-header">Why the fuck do you swear so much?</h2>
    <p>Oh, who the fuck knows. Settle down, Francis.</p>

    <h2 class="line-header">Who the fuck makes this site?</h2>
    <p>Dorkthrone. The P.T. Barnum of Xûr data services (you can quote me on that). It all started back in 2015 as a
        single page of good ol' fashioned pure static HTML that listed nothing and nothing but where the fuck Xûr was
        located. Then, out of nowhere, NotDisliked descended from the heavens, into the Discord server, with a single
        message: "hi i can program a little bit". Since then, there's been all kinds of contributors, in form of ideas
        and in code, and a volunteer team <b>dedicated</b> to hunting Xur down each and every Friday. And that's not
        even mentioning the <a href="https://discord.gg/VE4vz5z">Discord</a>, the clan, and the wonderful community
        overall. We're amazed at what the site has become, and will keep posting Xur's location (and much more) for the
        rest of time.</p>

    <h2 class="line-header">What the fuck is that little accent thingy over the "u" in Xûr's name?</h2>
    <p>It's called a circumflex and, yes, you should use it if you want to be down with the official lore.</p>

    <h2 class="line-header">When the fuck is reset?</h2>
    <p>Reset is each Friday at 9 a.m. PST, 11 a.m. CST, 12 p.m. EST, 5 p.m. UK, and 6 p.m. CET.</p>
</div>