{{#if page.vendors.xur}}
<div class="home-xur">
    <div class="white-box xur-map">
        {{#if page.xurloc}}
        <h1 class="box-title">Map</h1>
        <img id="map" src="{{page.xurimg}}">
        {{else}}
        <p>We haven't found him yet. Check back in 5 minutes.</p>
        {{/if}}
    </div>
    <div class="white-box xur-inventory">
        <h1 class="box-title">Xûr's Inventory</h1>
        <div class="vendor-sales">
            {{#each page.vendors.xur.items}}
            <div class="vendor-item">
                <img class="xur-engram" src="images/engram.png" width="25px;">
                <p class="item">{{display.name}}{{#if class}} ({{class}}) {{/if}}</p>
                <div class="vendor-plugs">
                    <p class="vendor-plug">{{sockets.[0].plugs.[0].name}}</p>
                    <p>{{sockets.[0].plugs.[0].description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}

<div class="home-data-container">
    <div class="home-data white-box">
        <h2 class="box-title">Nightfalls</h2>
        <h4 class="box-subtitle">The Ordeal</h4>
        <p class="item">{{page.cycles.activeordeal}}</p>
        <br />
        <h4 class="box-subtitle">Regulars</h4>
        <ul id="nightfalls">
            {{#each page.cycles.activenightfalls}}
            <li class="item">
                {{this}}
            </li>
            {{/each}}
        </ul>

    </div>

    <div class="home-data white-box">
        <h2 class="box-title">Extra Tall Forge Box</h2>
        <h4 class="box-subtitle">{{page.cycles.forge.name}}</h4>
    </div>

    <div class="home-data spider white-box">
        <h2 class="box-title">The Spider</h2>
        <h4 class="box-subtitle">Big Fat Fallen</h4>
        <ul id="spiderinv" class="home-spiderinv">
            {{#each page.vendors.spider.items}}
            <li class="home-spiderinv-item">
                <span class="item">{{filter display.name "Purchase"}}</span><br />
                {{#each costs}}
                <span class="item-description">{{amount}} {{display.name}}</span>
                {{/each}}
            </li>
            {{/each}}

        </ul>
        <a class="guide-link" href="/data/vendor/863940356">More Spider Deets</a>
    </div>

    <div class="home-data double-container">
        <div class="white-box double">
            <h2 class="box-title">Dreaming City Curse Level</h2>
            <h4 class="box-subtitle">How fucked is this shit?</h4>
            <h4 class="citystatus">
                {{page.cycles.city}}
            </h4>
        </div>
        <div class="white-box double">
            <h2 class="box-title">Reckoning Boss</h2>
            <h2 class="box-subtitle">More like WRECKoning amirite!!!!!</h2>
            <h4 class="citystatus">
                {{page.cycles.reckoning}}
            </h4>
        </div>
    </div>

    <!--<div class="home-data white-box">
        <h2 class="box-title">Banshee-44</h2>
        <h4 class="box-subtitle">Who are you</h4>
        <ul id="spiderinv">
            {{#each page.vendors.banshee.items}}
            <li>
                <span class="item">{{display.name}}</span><br />
            </li>
            {{/each}}
        </ul>
    </div>-->
</div>

<div class="home-riff-container">
    <div class="grey-box home-riff wide">
        <h2 class="line-header">Patronizer</h2>
        <p>Welcome to the Patronizer, where all the contributors to the site can provide their own content and our world
            famous RNG algorithm will pick and choose to perfectly craft a message that is guaranteed to be funny. This
            hour's message is... </p>
        <h2><em>{{{page.patronizer.name}}}</em> is <em>{{{page.patronizer.action}}}</em></h2>
        <p>Not funny enough for ya? Stop by our <a href="https://patreon.com/wtfix">Patreon</a> and you can get your own
            content put in here!</p>
    </div>

    <div class="grey-box home-riff whats-new wide">
        <h2 class="line-header">What The Fuck is New?</h2>
        <p>
            <ul>
                <li>Extra Tall Forge Box</li>
            </ul>
        </p>
    </div>

    <!-- <div class="grey-box home-riff">
        <h2 class="line-header">Friendgame</h2>
        <p>
            <h2><a href="https://discord.gg/Ut4qTZp">Kitties of Xûr</a></h2>
        </p>
        <p>Official WTFIX Development Discord</p>
        <h2><a href="https://solarian.net">Solarian Clan</a></h2>
        <p>Official clan of WTFIX</p>
    </div> -->

    <div class="grey-box home-riff wide">
        <h1 class="line-header">Xûr <strike>Hot</strike> Hotterline</h1>
        <p>Thanks to our fuckin amazing <a href="https://patreon.com/wtfix">patrons</a>, we're bringing back our
            patented Xûr Hotline! Call now to get your up to date xur information recorded personally by our very own
            Dorkthrone!</p>
        <h4><a class="hotline-number" href="tel:1-414-436-9013">1 (414) 436-9013</a></h4>
    </div>

    <div class="grey-box home-riff wide">
        <h1 class="line-header">Discord</h1>
        <p>Yo. We've got a Discord. It's pretty cool (not biased).</p>
        <p>You should maybe join it or something idk.</p>
        <h1><a class="discord-link" href="https://discord.gg/VE4vz5z">Official WTFIX Discord</a></h1>
    </div>


    <div class="grey-box home-riff wide">
        <h1 class="line-header">Contributors</h1>
        <p>Curious who makes this site happen? Have a gander at our <a href="/contributors">Contributors</a> page.</p>
        <p>Want to help make this site happen, get some special perks in our Discord, improve the laugh factor of the
            Patronizer, get access to the weekly Xursletter, and overall become a core contributor to the site? We have
            a <a href="https://patreon.com/wtfix">Patreon</a> so you (yes, you!) can help out.</p>
    </div>

    <!-- <div class="grey-box home-riff wide">
        <h1 class="line-header">Friends of Xur</h1>
        <p>
            <h2><a href="https://twitch.tv/xgladd">xGladd</a></h2>
        </p>
        <p>He linked us so we link him. Thanks Gladd ❤</p>
        <h2><a href="https://braytech.org">Braytech.org</a></h2>
        <p>Dev friend of the site, and great resource for tracking yo shit. Looks fuckin gorgeous too.</p>
        <h2><a href="https://xurloc.tk">Xur Loc</a></h2>
        <p>Our minimal-ish design too much for you? Don't want all this extra info? Xur Loc is just xur's location,
            that's it. (If you made this site come say hi in our Discord, we love it!)</p>
    </div>-->
</div>