{{!< data}}

<div class="data-box-container">
    <div class="white-box data-box">
        <h2 class="box-title">Ascendant Challenge</h2>
        <p class="item">{{page.ascendantchallenge.name}}</p>
        <p>{{page.ascendantchallenge.location}}</p>
        <a class="guide-link" href="/guides/ascendantchallenge#ac{{page.ascendantchallenge.id}}">Guide</a>
    </div>

    <div class="white-box data-box">
        <h2 class="box-title">Escalation Protocol</h2>
        <p class="item">Boss:</p>
        <p>{{page.escalationprotocol.boss}}</p>
        <p class="item">Gun:</p>
        <p>{{page.escalationprotocol.gun}}</p>
        <a class="guide-link" href="/guides/escalationprotocol#ep{{page.escalationprotocol.id}}">Guide</a>
    </div>

    <div class="white-box data-box">
        <h2 class="box-title">Reckoning</h2>
        <p class="item">Boss:</p>
        <p>{{page.reckoningbosses.boss}}</p>
    </div>

    <div class="white-box data-box">
        <h2 class="box-title">The Dreaming City</h2>
        <p class="item">Curse Level:</p>
        <p>{{page.citystatus.status}}</p>
        <p class="item">Blind Well Boss</p>
        <p>{{page.citystatus.boss}}</p>
        <a class="guide-link" href="/guides/blindwell#bw{{page.citystatus.id}}">Boss Guide</a>
    </div>

    <div class="white-box data-box">
        <h2 class="box-title">Dailies</h2>
        <p class="flavor-text"></p>
        <ul id="dailies">
            <li class="dailies-today item">{{page.dailies.current}}</li>
            <li class="dailies-and-then">And then...</li>
            {{#each page.dailies.next}}
            <li class="dailies-future sub-item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="white-box data-box">
        <h2 class="box-title">Active Nightfalls</h2>
        <p class="flavor-text"></p>
        <ul id="nightfalls">
            {{#each page.activenightfalls}}
            <li class="nightfall item">{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="white-box data-box">
        <h2 class="box-title">Forge</h2>
        <p class="item">{{page.forge.name}}</p>
    </div>
</div>